# Sample gitconfig
#
# You probably want to change the [user] section here since you are not me.
[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
    helper = GIT_CREDENTIAL_HELPER
[color]
    diff    = auto
    status  = auto
    branch  = auto
    ui      = true
[core]
    excludesfile      = ~/.gitignore
    editor            = vim
    compression       = -1
    autocrlf          = input
    whitespace        = trailing-space,space-before-tab
    precomposeunicode = true
    pager             = diff-so-fancy | less --tabs=4 -RFX
[apply]
    whitespace = nowarn
[help]
    autocorrect = 1
[merge]
    tool = diffmerge
[mergetool "diffmerge"]
    cmd           = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
    trustExitCode = true
    keepBackup    = false
[diff]
    tool = diffmerge
[difftool "diffmerge"]
    cmd = diffmerge $LOCAL $REMOTE
[difftool]
    prompt = false
[color "diff-highlight"]
    oldNormal = red
    oldHighlight = red bold 52
    newNormal = green
    newHighlight = blue bold 22
[grep]
    extendRegexp = true
    lineNumber   = true
[push]
    default = simple
[pager]
    diff = diff-so-fancy | less --tabs=4 -RFX
    log = diff-so-fancy | less --tabs=4 -RFX
    show = diff-so-fancy | less --tabs=4 -RFX
[pull]
	ff = only
