"*":
  "atom-beautify":
    general:
      _analyticsUserId: "6f85ffc9-a576-4eda-9774-4e42169d223c"
  core:
    autoHideMenuBar: true
    hideGitIgnoredFiles: true
  disabledPackages: [
    "metrics"
  ]
  editor:
    fontFamily: "Hack"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  linter: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
